{% extends 'layout.twig' %}
{% block content %}
    <div class="flex items-center text-center bg-gray-100 text-gray-800">
        <div class="p-4 mx-auto md:w-4/5 lg:w-4/5">
            <div class="flex justify-center mb-4">
                <h1 class="text-center text-lg font-bold text-2xl py-2">Total value: ${{ totalValue|number_format(2) }}
                    {% if (totalProfit > 0) %}
                        <span class="text-center text-green-500 font-bold text-2xl mb-1 ml-2 pb-2">
                    Profit/Loss: ▲${{ totalProfit|number_format(2) }}
                </span>
                    {% else %}
                        <span class="text-center text-red-500 font-bold text-2xl mb-1 ml-2 pb-2">
                    Profit/Loss: ▼${{ totalProfit|number_format(2) }}
                </span>
                    {% endif %}
                </h1>
            </div>
            <div class="grid grid-cols-12 gap-4">
                {% for stock in portfolio %}
                <div class="col-span-12 sm:col-span-6 md:col-span-3">
                    <div class="flex flex-row bg-white shadow-sm rounded p-4">
                        <div class="flex flex-col flex-grow">
                            <div class="text-sm text-gray-500">
                                <div class="col-span-12 lg:col-span-8">
                                    <a href="/stock?symbol={{ stock.symbol }}"
                                       class="inline-block rounded-full text-white bg-black text-normal font-bold px-2 md:px-4 py-1">
                                        {{ stock.symbol }}
                                    </a>
                                    {% if (stock.change >= 0) %}
                                        <button class="inline-block rounded-full text-white bg-emerald-600 text-normal font-bold mb-2 md:px-2 py-1">
                                            ▲${{ stock.change|number_format(2) }}
                                        </button>
                                    {% else %}
                                        <button class="inline-block rounded-full text-white bg-red-600 text-normal font-bold mb-2 px-2 md:px-2 py-1">
                                            ▼${{ stock.change|number_format(2) }}
                                        </button>
                                    {% endif %}
                                    {% if (stock.amountOwned > 0) %}
                                    <p><span class="text-emerald-600">{{ stock.amountOwned }} stocks</span></p>
                                </div>
                            </div>
                            <div class="font-medium text-md mb-2"><span
                                        class="font-bold">${{ stock.currentPrice|number_format(2) }}</span>
                            </div>
                            <div class="flex mx-auto space-x-3"><p>
                                    Value:
                                    <span class="font-bold">${{ (stock.currentPrice * stock.amountOwned)|number_format(2) }}</span>
                                </p>
                                <p class="inline-block ml-2">
                                    Paid:
                                    <span class="font-bold">${{ (stock.averagePrice * stock.amountOwned)|number_format(2) }}</span>
                                </p>
                            </div>
                            {% else %}
                            <p><span class="text-sky-600">Shortlisted {{ -(stock.amountOwned) }} stocks</span></p>
                        </div>
                    </div>
                    <div class="font-medium text-md mb-2"><span
                                class="font-bold">${{ stock.currentPrice|number_format(2) }}</span>
                    </div>
                    <div class="flex mx-auto"><p>
                            Current price:
                            <span class="font-bold">${{ (stock.currentPrice * (-stock.amountOwned))|number_format(2) }}</span>
                        </p>
                        <p class="inline-block ml-2">
                            Shortlisted at:
                            <span class="font-bold">${{ (stock.averagePrice * (-stock.amountOwned))|number_format(2) }}</span>
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}