{% extends 'layout.twig' %}
{% block content %}
    <div class="flex items-center bg-gray-100 text-gray-800">
        <div class="p-4 w-full">
            {% if errors %}
                {% for error in errors %}
                    <p class="font-semibold text-red-600 capitalize lg:text-1xl ml-3">
                        X {{ error }}
                    </p>
                {% endfor %}
            {% endif %}
            {% if success %}
                {% for each in success %}
                    <p class="font-semibold text-green-600 capitalize lg:text-1xl ml-3">
                        ✓ {{ each }}
                    </p>
                {% endfor %}
            {% endif %}
            <div class="grid grid-cols-12 gap-4">

                    <div class="col-span-12 sm:col-span-6 md:col-span-3">
                        <div class="flex flex-row bg-white shadow-sm rounded p-4">
                            <div class="flex flex-col flex-grow ml-4">
                                <div class="text-sm text-gray-500">
                                    <div class="col-span-12 lg:col-span-8">
                                        <a href="/?symbol={{ stock.symbol }}"
                                           class="inline-block rounded-full text-white bg-black text-xs font-bold mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 ">
                                            {{ stock.symbol }}
                                        </a>
                                    </div>
                                </div>
                                <div class="font-bold text-lg">${{ stock.currentPrice|number_format(2) }}</div>
                                {% if (stock.change > 0) %}
                                    <span class="text-emerald-600">▲{{ stock.change|number_format(2) }}%</span>
                                {% else %}
                                    <span class="text-red-600">▼{{ stock.change|number_format(2) }}%</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-span-12 sm:col-span-6 md:col-span-3">
                        <div class="flex flex-row bg-white shadow-sm rounded p-4">
                            <div class="flex flex-col flex-grow ml-4">
                                <div class="text-sm text-gray-500">
                                    <div class="col-span-12 lg:col-span-8"></div>
                                </div>
                                <div class="font-bold text-lg">Current price:
                                    ${{ stock.currentPrice|number_format(2) }}</div>
                                <div>
                                    <form action="/buy" method="post">
                                        <input type="hidden" name="symbol" value="{{ stock.symbol }}">
                                        <input type="number" name="amount" placeholder="Amount" id="buy-amount">
                                        <input type="submit" value="Buy Stock"
                                               class="inline-block rounded-full text-white bg-sky-600 text-xs font-bold mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1">
                                    </form>
                                    <div id="total-price">Total price: $0.00</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        let amountInput = document.getElementById('buy-amount');
                        let totalPrice = document.getElementById('total-price');
                        amountInput.addEventListener('input', function () {
                            let totalPurchaseAmount = amountInput.value * {{ stock.currentPrice|number_format(2) }};
                            totalPrice.innerHTML = 'Total price: $' + totalPurchaseAmount.toFixed(2);
                        });
                    </script>

                    <div class="col-span-12 sm:col-span-6 md:col-span-3">
                        <div class="flex flex-row bg-white shadow-sm rounded p-4">
                            <div class="flex flex-col flex-grow ml-4">
                                <div class="text-sm text-gray-500">
                                    <div class="col-span-12 lg:col-span-8"></div>
                                </div>
                                <div class="font-bold text-lg">Current price:
                                    ${{ stock.currentPrice|number_format(2) }}</div>
                                <div>
                                    <form action="/sell" method="post">
                                        <input type="hidden" name="symbol" value="{{ stock.symbol }}">
                                        <input type="number" name="amount" placeholder="Amount" id="sell-amount">
                                        <input type="submit" value="Sell Stock"
                                               class="inline-block rounded-full text-white bg-emerald-600 text-xs font-bold mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1">
                                    </form>
                                    <div id="total-sale">Total price: $0.00</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        let saleAmountInput = document.getElementById('sell-amount');
                        let totalSale = document.getElementById('total-sale');
                        saleAmountInput.addEventListener('input', function () {
                            let totalSaleAmount = saleAmountInput.value * {{ stock.currentPrice|number_format(2) }};
                            totalSale.innerHTML = 'Total earnings: $' + totalSaleAmount.toFixed(2);
                        });
                    </script>
            </div>

            {% if transactions %}
            <div class="flex justify-center p-4">
                <h1 class="text-center text-lg font-bold text-2xl">Your Transaction History With {{ stock.symbol }}</h1>
            </div>
            <div class="flex justify-center text-center mx-auto">
                <table class="w-4/5 mt-3">
                    <thead>
                    <tr class="bg-gray-300">
                        <th class="py-2 px-3">Transaction</th>
                        <th class="py-2 px-3">Amount</th>
                        <th class="py-2 px-3">Stock Price</th>
                        <th class="py-2 px-3">Total Sum</th>
                        <th class="py-2 px-3">Date</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for transaction in transactions %}
                        <tr>
                            {% if (transaction.type == 'BUY') %}
                                <td class="py-1 text-sky-600">{{ transaction.type }}</td>
                            {% elseif (transaction.type == 'SELL') %}
                                <td class="py-1 text-emerald-600">{{ transaction.type }}</td>
                            {% elseif (transaction.type == 'SEND GIFT' or transaction.type == 'RECEIVED GIFT') %}
                                <td class="py-1 text-purple-500">{{ transaction.type }}</td>
                            {% elseif (transaction.type == 'SHORTLIST') %}
                                <td class="py-1 text-red-500">{{ transaction.type }}</td>
                            {% elseif (transaction.type == 'CLOSE SHORTLIST') %}
                                <td class="py-1 text-green-500">{{ transaction.type }}</td>
                            {% else %}
                                <td class="py-1 text-amber-500">{{ transaction.type }}</td>
                            {% endif %}
                            <td class="py-1">{{ transaction.amount }}</td>
                            <td class="py-1">{{ transaction.price|number_format(2) }}</td>
                            {% if (transaction.type == 'BUY') %}
                                <td class="py-1 text-sky-600">{{ transaction.total_sum|number_format(2) }}</td>
                            {% elseif (transaction.type == 'SELL') %}
                                <td class="py-1 text-emerald-600">{{ transaction.total_sum|number_format(2) }}</td>
                            {% elseif (transaction.type == 'SEND GIFT' or transaction.type == 'RECEIVED GIFT') %}
                                <td class="py-1 text-purple-500">{{ transaction.total_sum|number_format(2) }}</td>
                            {% elseif (transaction.type == 'SHORTLIST') %}
                                <td class="py-1 text-red-500">{{ transaction.total_sum|number_format(2) }}</td>
                            {% elseif (transaction.type == 'CLOSE SHORTLIST') %}
                                <td class="py-1 text-green-500">{{ transaction.total_sum|number_format(2) }}</td>
                            {% else %}
                                <td class="py-1 text-amber-500">{{ transaction.total_sum|number_format(2) }}</td>
                            {% endif %}
                            <td class="py-1">{{ transaction.date }}</td>
                        </tr>
                    {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}