{% extends 'layout.twig' %}
{% block content %}
    <div class="flex items-center bg-gray-100 text-gray-800">
        <div class="p-4 w-full">
            <div class="grid grid-cols-12 gap-4">

                {% for stock in stocks %}
                    <div class="col-span-12 sm:col-span-6 md:col-span-3">
                        <div class="flex flex-row bg-white shadow-sm rounded p-4">
                            <div class="flex flex-col flex-grow ml-4">
                                <div class="text-sm text-gray-500">
                                    <div class="col-span-12 lg:col-span-8">
                                        <a href="/?symbol={{ stock.symbol }}"
                                           class="inline-block rounded-full text-white bg-black text-xs font-bold mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 ">
                                            {{ stock.symbol }}
                                        </a>
                                    </div>
                                </div>
                                <div class="font-bold text-lg">${{ stock.currentPrice|number_format(2) }}</div>
                                {% if (stock.change > 0) %}
                                    <span class="text-emerald-600">▲{{ stock.change|number_format(2) }}%</span>
                                {% else %}
                                    <span class="text-red-600">▼{{ stock.change|number_format(2) }}%</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                <div class="col-span-12 sm:col-span-6 md:col-span-3">
                    <div class="flex flex-row bg-white shadow-sm rounded p-4">
                        <div class="flex flex-col flex-grow ml-4">
                            <div class="text-sm text-gray-500">
                                <div class="col-span-12 lg:col-span-8">
                                    <p class="inline-block rounded-full text-white bg-sky-600 text-xs font-bold mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 ">
                                        Buy stock
                                    </p>
                                </div>
                            </div>
                            <div class="font-bold text-lg">Current price: ${{ stock.currentPrice|number_format(2) }}</div>
                        </div>
                    </div>
                </div>

                <div class="col-span-12 sm:col-span-6 md:col-span-3">
                    <div class="flex flex-row bg-white shadow-sm rounded p-4">
                        <div class="flex flex-col flex-grow ml-4">
                            <div class="text-sm text-gray-500">
                                <div class="col-span-12 lg:col-span-8">
                                    <p class="inline-block rounded-full text-white bg-emerald-500 text-xs font-bold mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 ">
                                        Sell stock
                                    </p>
                                </div>
                            </div>
                            <div class="font-bold text-lg">Current price: ${{ stock.currentPrice|number_format(2) }}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}