{% extends 'layout.twig' %}
{% block content %}
    <div class="bg-gray-100 text-gray-800">
        <div class="flex justify-center p-4">
            <h1 class="text-center text-lg font-bold text-2xl">Transaction History</h1>
        </div>

        {% if transactions %}
        <div class="flex justify-center text-center mx-auto">
            <table class="w-4/5 mt-3">
                <thead>
                <tr class="bg-gray-300">
                    <th class="py-2 px-3">Stock Symbol</th>
                    <th class="py-2 px-3">Transaction</th>
                    <th class="py-2 px-3">Amount</th>
                    <th class="py-2 px-3">Stock Price</th>
                    <th class="py-2 px-3">Total Sum</th>
                    <th class="py-2 px-3">Date</th>
                </tr>
                </thead>
                <tbody>

                {% for transaction in transactions %}
                    <tr>
                        <td class="py-1">
                            <a href="/transactions-for?symbol={{ transaction.symbol }}"
                               class="inline-block w-1/2 rounded-full text-white bg-black hover:bg-sky-600 text-lg font-bold mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1">
                                {{ transaction.symbol }}
                            </a>
                        </td>
                        {% if (transaction.type == 'BUY') %}
                            <td class="py-1 text-sky-600">{{ transaction.type }}</td>
                        {% elseif (transaction.type == 'SELL') %}
                            <td class="py-1 text-emerald-600">{{ transaction.type }}</td>
                        {% elseif (transaction.type == 'SEND GIFT') %}
                            <td class="py-1 text-purple-500">{{ transaction.type }}</td>
                        {% elseif (transaction.type == 'SHORTLIST') %}
                            <td class="py-1 text-red-500">{{ transaction.type }}</td>
                        {% elseif (transaction.type == 'CLOSE SHORTLIST') %}
                            <td class="py-1 text-green-500">{{ transaction.type }}</td>
                        {% else %}
                            <td class="py-1 text-amber-500">{{ transaction.type }}</td>
                        {% endif %}
                        <td class="py-1">{{ transaction.amount }}</td>
                        <td class="py-1">{{ transaction.price|number_format(2) }}</td>
                        {% if (transaction.type == 'BUY') %}
                            <td class="py-1 text-sky-600">{{ transaction.total_sum|number_format(2) }}</td>
                        {% elseif (transaction.type == 'SELL') %}
                            <td class="py-1 text-emerald-600">{{ transaction.total_sum|number_format(2) }}</td>
                        {% elseif (transaction.type == 'SEND GIFT') %}
                            <td class="py-1 text-purple-500">{{ transaction.total_sum|number_format(2) }}</td>
                        {% elseif (transaction.type == 'SHORTLIST') %}
                            <td class="py-1 text-red-500">{{ transaction.total_sum|number_format(2) }}</td>
                        {% elseif (transaction.type == 'CLOSE SHORTLIST') %}
                            <td class="py-1 text-green-500">{{ transaction.total_sum|number_format(2) }}</td>
                        {% else %}
                            <td class="py-1 text-amber-500">{{ transaction.total_sum|number_format(2) }}</td>
                        {% endif %}
                        <td class="py-1">{{ transaction.date }}</td>
                    </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}