{% extends 'layout.twig' %}
{% block content %}
    <div class="bg-gray-100 text-gray-800">
        <div class="flex justify-center p-4">
            <h1 class="text-center text-lg font-bold text-2xl">Transaction History</h1>
        </div>

        {% if transactions %}
        <div class="justify-center text-center mx-auto md:w-4/5 lg:w-4/6">
            <table class="w-full mt-3">
                <thead>
                <tr class="bg-gray-300">
                    <th class="py-2 px-2">Stock Symbol</th>
                    <th class="py-2 px-2">Transaction</th>
                    <th class="py-2 px-2">Amount</th>
                    <th class="py-2 px-2">Stock Price</th>
                    <th class="py-2 px-2">Total Sum</th>
                    <th class="py-2 px-2">Date</th>
                </tr>
                </thead>
                <tbody>

                {% for transaction in transactions %}
                    <tr>
                        <td class="py-1 font-extrabold hover:text-sky-600">
                            <a href="/transactions-for?symbol={{ transaction.symbol }}">
                                {{ transaction.symbol }}
                            </a>
                        </td>
                        {% if (transaction.type == 'BUY') %}
                            <td class="py-1 text-sky-600">{{ transaction.type }}</td>
                        {% elseif (transaction.type == 'SELL') %}
                            <td class="py-1 text-emerald-600">{{ transaction.type }}</td>
                        {% elseif (transaction.type == 'SEND GIFT' or transaction.type == 'RECEIVED GIFT') %}
                            <td class="py-1 text-purple-500">{{ transaction.type }}</td>
                        {% elseif (transaction.type == 'SHORTLIST') %}
                            <td class="py-1 text-red-500">{{ transaction.type }}</td>
                        {% elseif (transaction.type == 'CLOSE SHORTLIST') %}
                            <td class="py-1 text-green-500">{{ transaction.type }}</td>
                        {% else %}
                            <td class="py-1 text-amber-500">{{ transaction.type }}</td>
                        {% endif %}
                        <td class="py-1">{{ transaction.amount }}</td>
                        <td class="py-1">{{ transaction.price|number_format(2) }}</td>
                        {% if (transaction.type == 'BUY') %}
                            <td class="py-1 text-sky-600">{{ transaction.total_sum|number_format(2) }}</td>
                        {% elseif (transaction.type == 'SELL') %}
                            <td class="py-1 text-emerald-600">{{ transaction.total_sum|number_format(2) }}</td>
                        {% elseif (transaction.type == 'SEND GIFT' or transaction.type == 'RECEIVED GIFT') %}
                            <td class="py-1 text-purple-500">{{ transaction.total_sum|number_format(2) }}</td>
                        {% elseif (transaction.type == 'SHORTLIST') %}
                            <td class="py-1 text-red-500">{{ transaction.total_sum|number_format(2) }}</td>
                        {% elseif (transaction.type == 'CLOSE SHORTLIST') %}
                            <td class="py-1 text-green-500">{{ transaction.total_sum|number_format(2) }}</td>
                        {% else %}
                            <td class="py-1 text-amber-500">{{ transaction.total_sum|number_format(2) }}</td>
                        {% endif %}
                        <td class="py-1">{{ transaction.date }}</td>
                    </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}